{% extends 'base.html' %}

{% block content %}
<main class="container my-5">
  <div class="row">
    <div class="col col-md-6 col-lg-5 offset-lg-5">
      <div class="card shadow">
        <div class="card-header">
          <h1>Registro</h1>
        </div>
        <div class="card-body">
          {{error}}
          <form method="POST" class="bg-body">
            {% csrf_token %}
            <div class="mb-3 form-floating">
              <input type="text" placeholder="Nombre de usuario" name="username" class="form-control">
              <label for="username">Nombre de usuario</label>
            </div>
            <div class="mb-3 form-floating">
              <input type="password" placeholder="Escribe una contraseña" name="password1" class="form-control">
              <label for="password1">Escribe la contraseña</label>
            </div>
            <div class="mb-3 form-floating">
              <input type="text" placeholder="Escribe de nuevo la contraseña" name="password2" class="form-control">
              <label for="password2">Escribe de nuevo la contraseña</label>
            </div>
            <button class="btn btn-primary">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}