{% extends 'base.html' %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col col-md-6 col-lg-5 offset-lg-5">
      <div class="card">
        <div class="card-header">
          <h1>Registro</h1>
        </div>
        <div class="card-body">
          {{error}}
          <form method="POST" class="text-center">
            {% csrf_token %}
            {{form}}
            <button>Signup</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}